* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
	position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

header nav ul li a:hover {
    border: 1px solid white;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

#about p {
    text-align: center;
    font-size: 1.1em;
}

.project-card {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
    margin-bottom: 10px;
}

#contact p {
    text-align: center;
    font-size: 1.1em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin-top: 15px;
    border-radius: 8px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

